*{
    box-sizing: border-box;
}
body{
    margin: auto;
    padding: auto;
    background-image: url(img2/fondo.png);
    background-size: cover;
}

header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  transition: 0.7%;
  padding: 30px 20px;
}

nav{
  
}